<html lang="es">
<head>
<meta charset="UTF-8">
<title>Formulario de contacto</title>

  
  <link rel="stylesheet" type="text/css" href="/adopcion/styles/contact.css">
<!--BoxIcons-->
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  
  </head>


<body>
  
  <!-- formulario de contacto en html y css -->  

<div class="contact_form">

<div class="formulario">
      <h1>Registro de mascotas</h1>


<form action="registro.php" method="post">


<p>
<label for="nombre" class="colocar_nombre">Nombre
<span class="obligatorio">*</span>
</label>
<input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
</p>

<p>
<label for="email" class="colocar_apellido">Edad
<span class="obligatorio">*</span>
</label>
<input type="number" name="introducir_edad" id="edad" required="obligatorio" placeholder="Escribe tu Edad">
</p>

<p>
<label for="telefone" class="colocar_correo">raza
</label>
<input type="text" name="introducir_raza" id="raza" placeholder="Escribe tu raza">
</p>


<button type="submit" name="enviar_formulario" id="enviar"><p>Registrar animal</p></button>



</form>
<div class="container" style="margin-left: 180px;"><a href="./../index.html"><box-icon name='home' type='solid' animation='tada' ></box-icon>INICIO</a></div>

</div>
</div>

</body>
</html>